<div class="row">
    <div class="col-lg-5">
        <h2>Accessories</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Speakers</h4>
        <img src="app/img/speakers.jpg" height="150" width="150"/>
    </div>
    <div class="col-md-6">
        <h4>Seats</h4>
        <img src="app/img/seats.jpeg" height="150" width="150"/>
    </div>
    <div class="col-md-6">
        <h4>Power Extension</h4>
        <img src="app/img/power-extension.jpeg" height="150" width="150"/>
    </div>
    <div class="col-md-6">
        <h4>Steering Wheel Covers</h4>
        <img src="app/img/furry ride.jpg" height="150" width="170"/>
    </div>
    <div class="col-md-6">
        <h4>Car Seat Covers</h4>
        <img src="app/img/101 dalmations.jpg" height="150" width="150"/>
    </div>
  <div class="col-md-6">
      <h4>Dog Car Seats</h4>
    <img src="app/img/glamorous.jpg" height="150" width="150"/>
</div>

