<h1>Offers</h1>
<div class="row">
    <div class="col-md-6">

        <h2>2016 Toyota Corolla</h2>
        <h4>Lease</h4>
        <div class="row" align="center">
            <img src="app/img/16corolla2.png" width="245" height="212">

        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-4" align="center"><p style="font-size: medium">$149</p></div>
                <div class="col-md-4" align="center"><p style="font-size: medium">24</p></div>
                <div class="col-md-4" align="center"><p style="font-size: medium">$1599</p></div>
            </div>
            <div class="row">
                <div class="col-md-4" align="center">per month</div>
                <div class="col-md-4" align="center">months</div>
                <div class="col-md-4" align="center">due at signing</div>
            </div>

        </div>

    </div>
    <div class="col-md-6">

        <h2>2016 Toyota Camry</h2>
        <h4>Lease</h4>
        <div class="row" align="center">
            <img src="app/img/16camry.png" width="225" height="212">

        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-4" align="center"><p style="font-size: medium">$189</p></div>
                <div class="col-md-4" align="center"><p style="font-size: medium">24</p></div>
                <div class="col-md-4" align="center"><p style="font-size: medium">$1549</p></div>
            </div>
            <div class="row">
                <div class="col-md-4" align="center">per month</div>
                <div class="col-md-4" align="center">months</div>
                <div class="col-md-4" align="center">due at signing</div>
            </div>
        </div>

    </div>

</div>


